<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="loginmx-app">
  <template>
    <iron-ajax id="obtenerProductos"
      url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
      handle-as="json"
      on-response="mostrarProductos"
    >
   </iron-ajax>
   <iron-ajax id="hacerLogin"
     method="POST"
     url="http://localhost:3000/v3/usuarios/login"
     headers='{"email":"","password":""}'
     on-response="mostrarResultadoLogin"
   >
  </iron-ajax>
    <div>
      <label for="Usuario">[[etuser]]</label>
      <input type="text" value="" />
    </div>
    <div>
      <label for="Password">[[etpassword]]</label>
      <input type="text" />
    </div>
    <div>
      <button on-click="invocarPeticion">[[etlogin]]</button>
    </div>
    <div>
      <button on-click="hacerLogin">[[etlogin]]</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {

      static get is() { return 'loginmx-app'; }

      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          productos: {
            type: Array
          },
          usuarios: {
            type: Array
          }

        };
      }

      invocarPeticion() {
        this.$.obtenerProductos.generateRequest();
      }

      mostrarProductos(data) {
        this.productos = data.detail.response.value;
        console.log(this.productos);
      }

      hacerLogin() {
        this.$.generateRequest
        console.log(this.usuarios);
      }

    }



    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
